
body{
    font-size: 16px;
    color: #2b283a;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* typography */

h1{
    color: whitesmoke;
    font-size: 36px;
    margin: 0;
}

h2{
    margin-top: 0;
}

h3{
    color: #d0aaff;
    font-size: 20px;
    margin:0;
}

/* links */

a{
    color: #ef5839;
    text-decoration: underline dotted; 
}

a:hover{
    color: #d4b44c;
}

a:active{
    color: #d4b44c;
}

/* layouts */

header{
    background-color: #5f29a3;
    padding: 45px 0;
}

section{
    padding: 45px 0;
}

.container{
    width: 620px;
    margin: 0 auto;
}

.main-img {
    width:100%;
}

.section-two {
    color: whitesmoke;
    background-color: #5f29a3;

}

.feature-img{
    width: 300px;
    border-radius: 4.6px;
}

.section-two-img-container{
    display: flex;
    justify-content: space-between;
}

footer {
    text-align: center;
    padding: 45px 0;
    color: #5f29a3;
}


