body{
    color: #2b283a;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

header{
    background-color: #5f29a3;
    padding: 45px 0px;
}

h1{
    color: whitesmoke;
    font-size: 2rem;
    margin: 0;
}

h3 {
    color: #d0aaff;
    font-size: 1.25rem;
    margin: 0;
}

section {
    padding: 45px 0px;
}

.main-img {
    width: 100%;
}

h2 {
    margin-top: 0;
}

a{
    color: #ef5839;
    text-decoration: underline dotted;
}

a:hover{
    color: #d4b44c;
}

a:active{
    color: #d4b44c;
}

.container {
    width: 620px;
    margin: 0 auto;
}
