
body{
    font-size: 16px;
    color: #2b283a;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* typography */

h1, h3 {
    margin: 0;
}

h1{
    color: whitesmoke;
    font-size: 36px;
}

h2{
    margin-top: 0;
}

h3{
    color: #d0aaff;
    font-size: 20px;
}

/* links */

a{
    color: #ef5839;
    text-decoration: underline dotted; 
}

a:hover, a:active {
    color: #d4b44c;
}

/* layouts */

header,
section,
footer {
    padding: 45px 0;
}

header, .section-two{
    background-color: #5f29a3;
}

.container{
    width: 620px;
    margin: 0 auto;
}

.main-img {
    width:100%;
}

.section-two {
    color: whitesmoke;
}

.feature-img{
    width: 300px;
    border-radius: 4.6px;
}

.section-two-img-container{
    display: flex;
    justify-content: space-between;
}

footer {
    text-align: center;
    color: #5f29a3;
}


